.products {
  margin-top: 2em;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 30px;
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  font-size: 3em;
}
