.products {
  margin-top: 2em;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 30px;
}

@media (max-width: 1300px) {
  .products {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1170px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
