.cartItem img {
  height: 100%;
  border-radius: 1em;
}

.cartItemLeft {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.cartItemRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.cartItemRight input {
  width: 3em;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid gray;
  color: white;
  padding: 0 5px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.cartItem {
  width: 100%;
  background-color: #26282b;
  color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  gap: 3em;
}

.cartItem button svg {
  flex-shrink: 0;
  stroke: white;
}

.cartItem button {
  border: none;
  background-color: transparent;
}

.cartItemRight button {
  flex-shrink: 0;
}

.cartItemTitle {
  max-width: 20ch;
  word-wrap: break-word;
}
@media (max-width: 1360px) {
  .cartItem {
    font-size: 1rem;
  }
  .cartItemTitle {
    max-width: 25ch;
  }
}

@media (max-width: 1150px) {
  .cartItemRight {
    scale: 0.9;
  }
}

@media (max-width: 1050px) {
  .cartItemRight {
    scale: 1;
  }
  .cartItemLeft {
    font-size: 0.9rem;
  }
}

@media (max-width: 700px) {
  .cartItemRight {
    scale: 0.9;
  }
}
