.cartItem img {
  height: 100%;
  border-radius: 1em;
}

.cartItemLeft {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.cartItemRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.cartItemRight input {
  width: 3em;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid gray;
  color: white;
  padding: 0 5px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.cartItem {
  width: 100%;
  background-color: #26282b;
  color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  gap: 3em;
  flex-shrink: 1;
}

.cartItem button svg {
  stroke: white;
  width: 2rem;
}

.cartItem button {
  border: none;
  background-color: transparent;
}

.cartItemTitle {
  max-width: 20ch;
  word-wrap: break-word;
}

@media (max-width: 630px) {
  .cartItem {
    flex-direction: column;
    padding: 1.5em;
    gap: 0.5em;
  }
  .cartItemLeft {
    height: 50%;
    width: 100%;
    justify-content: space-between;
  }
  .cartItemRight {
    width: 100%;
    justify-content: space-between;
  }
}
