.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  font-size: 3em;
}

.circle {
  stroke: white;
  width: 10%;
  height: 10%;
  animation: spin infinite linear 2500ms;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
